<!DOCTYPE html>
{% extends 'web.html' %}
{% block content %}
<html lang="en">
<head>

</head>

<body>
<div class="col-lg-6">
          <div class="card" style="width:1200px;">
            <div class="card-body">
              <h5 class="card-title">Basic Table</h5>
			  <div class="">
               <table class="table">
                  <thead>
                    <tr>


                      <th scope="col">Book Name</th>

                        <th scope="col">Book Price</th>
                        <th scope="col">Due</th>
                      <th scope="col">DuePrice</th>
                        <th scope="col">TotalPrice</th>
                        <th scope="col">Option</th>
                    </tr>
                  </thead>
                   {% for i in data %}
                  <tbody>
                    <tr>
                      <th>{{i.BookName}}</th>

                        <td>{{i.Price}}</td>
                        <td>{{i.Due}}</td>
                      <td>{{i.DuePrice}}</td>
                        <td>{{i.TotalPrice}}</td>

                        <td><form method="post" action="{% url 'paymentuser' %}">
                                         {% csrf_token %}
                            <input type="hidden" name="Username"  value="{{i.Username}}">

                                         <input type="hidden" name="BookName"  value="{{i.BookName}}">

                                         <input type="hidden" name="Due"  value="{{i.Due}}">
                                        <input type="hidden" name="Price"  value="{{i.Price}}">
                                         <input type="hidden" name="DuePrice"  value="{{i.DuePrice}}">
                                        <input type="hidden" name="Total"  value="{{i.TotalPrice}}">



                            <button class="btn btn-primary"  type="submit">Payment Request</button>
                            </form><br>
                            <form action="{% url 'addbackstock' r=i.id k=i.BookName %}">
                            <button class="btn btn-primary" type="submit">Add to Stock</button>
                            </form></td>


                    </tr>
                    {% endfor %}
<!--                    <tr>-->
<!--                      <th scope="row">2</th>-->
<!--                      <td>Jacob</td>-->
<!--                      <td>Thornton</td>-->
<!--                      <td>@fat</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <th scope="row">3</th>-->
<!--                      <td>Larry</td>-->
<!--                      <td>the Bird</td>-->
<!--                      <td>@twitter</td>-->
<!--                    </tr>-->
                  </tbody>
                </table>
            </div>
            </div>
          </div>
        </div>




</body>
</html>
{% endblock %}