<!DOCTYPE html>
{% extends 'web.html' %}
{% block content %}
<html lang="en">
<head>

</head>

<body>
<div class="col-lg-6">
          <div class="card"  style="width:1100px;">
            <div class="card-body">
              <h1 class="card-title">Members</h1>
			  <div class="table-responsive">
               <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">username</th>
                      <th scope="col">Email</th>
                      <th scope="col">Phone</th>
                      <th scope="col">Mobile</th>
                        <th scope="col">Address</th>

                        <th scope="col">Option</th>
                    </tr>
                  </thead>
                   {% for i in member %}
                  <tbody>
                    <tr>
                      <th>{{i.username}}</th>
                      <td>{{i.email}}</td>
                      <td>{{i.Phone}}</td>
                      <td>{{i.Mobile}}</td>
                        <td>{{i.Address}}</td>


                        <td> <form action="">
                            <button class="btn btn-primary" type="submit">Edit</button>
                            </form></td>


                    </tr>
                    {% endfor %}
<!--                    <tr>-->
<!--                      <th scope="row">2</th>-->
<!--                      <td>Jacob</td>-->
<!--                      <td>Thornton</td>-->
<!--                      <td>@fat</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <th scope="row">3</th>-->
<!--                      <td>Larry</td>-->
<!--                      <td>the Bird</td>-->
<!--                      <td>@twitter</td>-->
<!--                    </tr>-->
                  </tbody>
                </table>
            </div>
            </div>
          </div>
        </div>




</body>
</html>
{% endblock %}