<!DOCTYPE html>
{% extends 'indexs.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Packages</h6>

                <h1 class="mb-5"> Books</h1>

            </div>
            <div class="row g-4 justify-content-center">
                {% for i in pro %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">

                    <div class="package-item">

                            <img class="fluid" src="{{i.Image.url}}"  height="300px;" width="400px;" alt="">


                        <div class="text-center p-4">
                            <h3 class="mb-0">{{i.BookName}}</h3>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p>{{i.Description}}</p>
                            <div class="d-flex justify-content-center mb-2">

                                <a href="{% url 'single' itemspro=i.id dataid=request.session.username %}" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                            </div>
                        </div>
                    </div>

                </div>
                {% endfor %}

            </div>
        </div>
    </div>





{% endblock %}
</body>
</html>