<!DOCTYPE html>

{% extends 'indexs.html' %}

{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br><br><br>
<div style="padding:100px; padding-top:200px;" >

<div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="margin-top:200px;">
                <h6 class="section-title bg-white text-center text-primary px-3">Packages</h6>
                <h1 class="mb-5">Canceled Books</h1>
            </div>
<div class="card" style="margin-top:100px; width:1000px; margin-left:100px; margin-bottum:150px;">
            <div class="card-body" style="border: 3px solid black;">
              <h5 class="card-title">Canceled Books</h5>
			  <div class="table-responsive">
               <table class="table table-striped" style="border: 5px solid black;" >
                  <thead>
                    <tr>
                      <th scope="col">Book Name</th>
                      <th scope="col">Auther Name</th>
                      <th scope="col">Language</th>
                      <th scope="col">Price</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Option</th>
                    </tr>
                  </thead>
                   {% for i in data %}
                  <tbody>
                    <tr>
                      <th scope="row">{{i.BookName}}</th>
                        <td>{{i.AutherName}}</td>
                      <td>{{i.Language}}</td>
                      <td>{{i.Price}}</td>
                      <td>{{i.qty}}</td>
                        <td> <form action="{% url 'deletecancel' dataid=i.id itemspro=i.Username %}" >
                            <button style="border: 2px solid black; width:100px;" class="btn btn-danger"  type="submit">Remove</button>
                            </form></td>

                    </tr>


                  </tbody>
                   {% endfor %}
                </table>
            </div>
            </div>
          </div>








</div>
<br><br><br><br><br><br>
{% endblock %}

</body>
</html>
